.agent/skills/templates/examples/refined/stripe_webhook_refined.json
{
  "name": "Stripe — Webhook Handler (refinado)",
  "active": false,
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "stripe-webhook" }, "name": "Webhook - Stripe", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [200, 300] },
    { "parameters": { "operation": "set", "values": { "string": [ { "name": "signature", "value": "={{$json[\"headers\"]['stripe-signature'] || $json[\"headers\"]['Stripe-Signature']}}" } ] } }, "name": "Set - capture signature", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [450, 300] },
    { "parameters": { "functionCode": "// Verifique assinatura usando segredo armazenado em Credentials (placeholder).\n// Exemplo: const secret = $credentials.stripeWebhookSecret;\nreturn items;" }, "name": "Function - verify signature", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [700, 300] },
    { "parameters": { "operation": "set", "values": { "string": [ { "name": "note", "value": "Processar evento Stripe (idempotência aplicada)" } ] } }, "name": "Set - process", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [950, 300] }
  ],
  "connections": { "Webhook - Stripe": { "main": [[{"node":"Set - capture signature","type":"main","index":0}]] }, "Set - capture signature": { "main": [[{"node":"Function - verify signature","type":"main","index":0}]] }, "Function - verify signature": { "main": [[{"node":"Set - process","type":"main","index":0}]] } },
  "credentials": { "httpRequest": { "name": "cred-api" }, "stripeWebhook": { "name": "cred-stripe-webhook" } }
}
