.agent/skills/templates/examples/refined/webhook_api_persist_refined.json
{
  "name": "Webhook → API → Persist (refinado)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-receive",
        "responseMode": "onReceived",
        "responseData": "accepted"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "apiUrl", "value": "https://api.exemplo.com/resources" },
            { "name": "request_id", "value": "={{$now().getTime()}}" }
          ]
        }
      },
      "name": "Set - prepare",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$json[\"apiUrl\"]}}",
        "jsonParameters": true,
        "options": { "retry": { "enabled": true, "maxTries": 3, "delay": 2000, "factor": 2 } },
        "bodyParametersJson": "={{$json}}"
      },
      "name": "HTTP Request - Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": { "httpRequest": { "name": "cred-api" } }
    },
    {
      "parameters": { "operation": "insert", "table": "events", "columns": "data" },
      "name": "DB - Persist (exemplo)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": { "text": "Evento processado: {{$node[\"HTTP Request - Create\"].json[\"id\"]}} (request_id: {{$node[\"Set - prepare\"].json[0].request_id}})" },
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Set - prepare", "type": "main", "index": 0 } ] ] },
    "Set - prepare": { "main": [ [ { "node": "HTTP Request - Create", "type": "main", "index": 0 } ] ] },
    "HTTP Request - Create": { "main": [ [ { "node": "DB - Persist (exemplo)", "type": "main", "index": 0 } ] ] },
    "DB - Persist (exemplo)": { "main": [ [ { "node": "Slack Notify", "type": "main", "index": 0 } ] ] }
  }
}
